@import "normalize.css";

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
}

.container{
  
}

img{

}