@import "normalize.css";

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.container{
  pos
  top: 50%;
}

img{
  width: 250px;
}