@import "normalize.css";
:root{
  var (White, ​#ffffff);
  var (LightGray, ​#d6e2f0) ;
  var (GrayishBlue, ​#7b879d);
  var (DarkBlue, ​#1f3251);
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
html,
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.outer-container{
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 25%;
}

.wrapper{
  width: 50%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rebeccapurple;
}

.image{
  width: 100%;
  border-radius: 12px;
}

img{
  width: 250px;
  border-radius: 1rem;
}

@media screen and (max-width:768px) {
  .wrapper{
    width: 320px;
  }
}