@import "normalize.css";

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
html,
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container{
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 25%;
}

.wrapper{
  width: 50%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rebeccapurple;
}

.image{
  width: 100%;
  border-radius: 12px;
}

img{
  width: 250px;
  border-radius: 1rem;
}

@media screen and (max-width:768px) {
  .wrapper{
    width: 320px;
  }
}